body{
     background-color:rgb(88, 184, 244)
}
.heading{
      font-family:"Roboto";
       text-align:center;
       padding:10px;
       margin-top:3vh;
       margin-bottom:4vh;
       font-weight:1000;
}
.winner{
      text-align:center;
      font-family:"Roboto";
     font-weight:300;
      font-size:20px;
}
.game{
     height:70vh;
     width:70vmin;
}
.box{
     font-size:8vmin;
     font-weight:400;
     text-align:center;
     margin:10px;
     height:20vmin;
     width:20vmin;
     color:black;
     background-color:rgb(143, 217, 222);
     border-radius:10px;
     border:none;
     box-shadow: 2px 2px 10px rgba(81, 82, 81, 0.991);
}
.resetbtn{
      font-size:2vmin;
      font-weight:500;
      border-radius:10px;
      box-shadow: 2px 2px 10px rgba(81, 82, 81, 0.991);
      border:none;
      height:5vmin;
      width:20vmin;
      margin:10px;
      background-color:rgb(143, 217, 222);
}